@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Noto+Sans+Khmer:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

:root {
  font-family:
    "Inter",
    "Noto Sans Khmer",
    Arial,
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f8fafc;
  color: #111827;
  font-family:
    "Inter",
    "Noto Sans Khmer",
    Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

button,
input,
textarea,
select {
  font: inherit;
}

.p-component {
  font-family:
    "Inter",
    "Noto Sans Khmer",
    Arial,
    sans-serif;
}